.navbar {
  width: 100%;
  max-width: 1100px;
  margin: 20px auto;
  padding: 14px 22px;
  background: white;
  border-radius: 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 14px;
}

.logo {
  width: 65px !important;
  height: 65px !important;
  max-width: 65px !important;
  max-height: 65px !important;
  object-fit: cover;
  border-radius: 16px;
  display: block;
}

.nav-left h2 {
  margin: 0;
  font-size: 22px;
}

.nav-left p {
  margin: 3px 0 0;
  color: gray;
  font-size: 14px;
}

.nav-links {
  display: flex;
  gap: 18px;
}

.nav-links a {
  color: #7e22ce;
  font-weight: bold;
  text-decoration: none;
}